@import "../../assets/colors";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  select {
    border: 2px solid $gri-inchis;
    border-radius: 4px;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #5c7999;
    option {
      color: $albastru-deschis;
      padding: 10px;
      border: 4px solid black;
    }
  }
  select:focus {
    outline-color: $albastru-inchis;
  }
}