@import "../../../assets/colors";
div {
  .button {
    width: 100%;
    font-family: '600';
    font-style: normal;
    font-size: 18px;
    /* identical to box height, or 133% */

    text-align: center;

    color: #FFFFFF;
    color: $alb;
    text-decoration: none;
    background: $albastru-deschis;
    border-radius: 6px;
    padding: 10px;
  }
}