@import "../../assets/colors";

:root{
    --navWidthComplete: 0%;
    --navWidthIncomplete: 0%;
}

// WHOLE BODY WRAPPER
.body_wrapper{
    background: $gri-deschis;
    min-height: 100vh;
}

// PAGE WRAPPER
.page_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
}

// SURVEY WRAPPER FOR THE WHOLE SURVEY
.survey_wrapper{
    background: $alb;
    padding: 3rem;
    width: 40vw;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.survey_navigation{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    border-radius: 15px;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.survey_navigation::after{
    content: "";
    position: absolute;
    background: linear-gradient(110deg,$albastru-deschis 0%, $albastru-deschis var(--navWidthComplete), $gri-inchis var(--navWidthComplete), $gri-inchis var(--navWidthIncomplete));
    height: 5px;
    width: 30vw;
}

.survey_step{
    z-index: 1;
    background-color: $gri-inchis;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 15px;
    width: 15px;
    border-radius: 50%;

    a{
        color: $gri-inchis;
        text-decoration: none;
    }
}

.survey_step__active{
    height: 25px;
    width: 25px;
    a{
        color: $albastru-deschis;
    }
}

.survey_step__active,
.survey_step__done{ background-color: $albastru-deschis;}

// Show more locations
.btn-show-more__branches{
    display: flex;
    align-items: center;
    justify-content: center;

    background: $portocaliu;
    color: $alb;

    font-family: "400";
    padding: 10px;
    margin-top: 10px;   
    border-radius: 10px;
}

.btn-show-more__branches:hover{ cursor: pointer; }