$albastru-inchis: #21416C;
$albastru-deschis: #1A67D2;
$albastru-pal: #5C7999;
$gri-inchis: #A3B5C9;
$gri-deschis: #E4EAF0;
$alb: #FFFFFF;
$negru: #000000;
$portocaliu: #ff7900;

$dark_albastru-inchis: #404258;
$dark_color_2: #474E68;
$dark_text: #6B728E;


.error__message{
    visibility: hidden;
    font-family: "400";
    font-size: 14px;
    color: rgb(214, 40, 40);
    margin-top: 5px;
    margin-left: 5px;
}

.error__message_visible{ visibility: visible;}
