@import "../../assets/colors";
@import "../../assets/fonts";

.survey-completion__wrapper{
    box-sizing: border-box;
    background: $albastru-inchis;
    height: 100vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}

.survey-completion__message{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    color: $alb;
    h1{
        font-family: "700";
        max-width: 30vw;
        color: $alb;
    }
    
    p{
        font-family: "400";
        max-width: 30vw;
        color: $alb;
    }
}

.survey_back{
    font-family: "400";
    background: $gri-inchis;
    color: $alb;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 900px){
    .survey-completion__message{
        h1, p{
            max-width: 60vw;
        }
    }
}