@import "../../assets/colors";

.header_navigation{
    background: $albastru-deschis;
    color: $alb;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
}