@import "../../assets/colors";
@import "../../assets/fonts";

.header_navigation{
    background: $albastru-inchis;
    color: $alb;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "600";
    padding: 16px;
    text-align: center;
}